<a href="https://colab.research.google.com/github/Amol68/ML/blob/main/_Session2_Practice_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Explore Data and Train Test Split**

You are required to

- Task 1: Import data
- Task 2: Explore data
- Task 3: Define y and X
- Task 4: Split data into train and test sample

Dataset 1  to predict survival of passengers on Titanic: https://github.com/ybifoundation/Dataset/raw/main/Titanic.csv

Dataset 2 to predict selling price of Headphones on Flipkart : https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv

In [ ]:
# Step 1 : import library
import pandas as pd

In [ ]:
 # Step 2 :import data (Titanic.csv)
data = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Titanic.csv')

In [ ]:
# Step 3 : identify dependent column (y) and independent column (x)
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [ ]:
  y = data['survived']
  x = data[['pclass','name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']]

In [ ]:
# Step 3 : split the data into training data and testing data
from sklearn.model_selection import train_test_split

In [ ]:

 x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=2529, train_size=0.7 )

In [ ]:
 x_train.shape, x_test.shape, y_train.shape, y_test.shape

((916, 13), (393, 13), (916,), (393,))

In [ ]:
 x_train

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
645,3,"Asplund, Mr. Johan Charles",male,23.0,0,0,350054,7.7958,NaN,S,13,NaN,"Oskarshamn, Sweden Minneapolis, MN"
482,2,"Lehmann, Miss. Bertha",female,17.0,0,0,SC 1748,12.0000,NaN,C,12,NaN,"Berne, Switzerland / Central City, IA"
521,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S,11,NaN,"Folkstone, Kent / New York, NY"
1141,3,"Rice, Master. Albert",male,10.0,4,1,382652,29.1250,NaN,Q,NaN,NaN,NaN
88,1,"Daniels, Miss. Sarah",female,33.0,0,0,113781,151.5500,NaN,S,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,2,"Cook, Mrs. (Selena Rogers)",female,22.0,0,0,W./C. 14266,10.5000,F33,S,14,NaN,Pennsylvania
943,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S,NaN,NaN,NaN
740,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,NaN,S,NaN,NaN,Austria-Hungary
399,2,"Drew, Mr. James Vivian",male,42.0,1,1,28220,32.5000,NaN,S,NaN,NaN,"Greenport, NY"
828,3,"Goodwin, Miss. Jessie Allis",female,10.0,5,2,CA 2144,46.9000,NaN,S,NaN,NaN,"Wiltshire, England Niagara Falls, NY"

# Dataset ***2***

In [ ]:
import pandas as pd

In [ ]:
hp = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv')

In [ ]:
# view first 5 rows of our dataframe
hp.head()

,Model,Company,Color,Type,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
0,5PLUS 5PHP28 Wired without Mic Headset,5PLUS,Red,On the Ear,3.6,101,496,3399,2903
1,A R Wireless compatible with Headset Bluetooth...,A R,Red,Multicolor,3.9,35280,188,799,611
2,Aerizo Wireless Touch R100 Earbuds (Black) Blu...,Aerizo,Black,True Wireless,4.0,1934,589,1298,709
3,Allmusic powerful driven bass with dynamic bea...,Allmusic,Multicolor,In the Ear,4.0,15841,260,1599,1339
4,Allmusic OPP.O Ultra HD Sound Premium Bass Spo...,Allmusic,Black,In the Ear,3.8,10766,270,999,729

In [ ]:
# view all columns of our dataframe
hp.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [ ]:
#  identify dependent column (y) and independent column (x)
y = hp['Selling Price']
x = hp[['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings',  'Maximum Retail Price',
       'Discount']]

In [ ]:
y.shape , x.shape

((1000,), (1000, 8))

In [ ]:
#  split the data into training data and testing data
from sklearn.model_selection import train_test_split

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2529)

In [ ]:

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((700, 8), (300, 8), (700,), (300,))